# Java / Maven
target/
*.class
.mvn/
*.iml
.idea/
.eclipse/
.settings/
.classpath
.project

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.DS_Store

# OS
Thumbs.db
